/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  margin-right: 20px;
  margin-left: 20px;
  font-family: serif;
}

h1 {
  text-align: center;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}
