:root {
  --timeline-height: 150px;
}

.timeline {
  background-color: #737272;
  height: var(--timeline-height);
  overflow: scroll;
  width: 100%
}

.timeline .year {
  height: var(--timeline-height);
  border-right: 1px solid white;
  padding: 0;
  margin: 0;
  float: left;
}
