:root {
  --timeline-height: 150px;
}

.timeline {
  background-color: #737272;
  height: var(--timeline-height);
  overflow: scroll;
  width: 100%;
  position: relative;
}

.timeline .duration {
  border-left: 1px solid white;
  padding: 0;
  margin: 0;
  float: left;
  box-sizing: border-box;
}

.timeline .duration:first-child {
  border-left: none;
}

.timeline .year {
  height: var(--timeline-height);
}

.timeline .year .label-header {
  height: 50px;
  font-size: larger;
  padding-left: 4px;
}

.timeline .month {
  height: 100px; /* TODO: figure out how to create an expression to subtract from timeline-height. */
}

.timeline .month.first-month {
  border-left: none;
}

.timeline .month .semi-month .label-header {
  height: 50px;
}

.timeline .month .semi-month .first-half, .timeline .month .semi-month .second-half {
  height: 50px;
}

.timeline .month .semi-month .first-half {
  border-left: none; /* the border comes from the month start */
}

.timeline .weeks-container {
  position: absolute;
}

.timeline .week {
  height: var(--timeline-height);
  border: none;
  position: relative; /* anchor for the label-header */
}

.timeline .week:hover {
  background: lightblue;
  opacity: 0.4;
}

.timeline .week .label-header {
  display: none;
  position: absolute;
  left: 16px;
  top: 20px;
  width: 10em;
  color: white;
  z-index: 100;
}

.timeline .week:hover .label-header {
  display: block;
}
