.timeline {
  background-color: #737272;
  height: 150px;
  overflow: scroll;
  width: 100%
}

.timeline .year {
  border-right: 1px solid white;
  padding: 0;
  margin: 0;
  height: 150px;
  float: left;
}
